@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto" !important;
}

a {
  color: inherit !important;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --gwp-orange: rgb(239, 87, 52);
  --gwp-pink: rgb(197, 7, 77);
  --gwp-gray: rgb(189, 189, 189);
}

/* overrides */
.dropdown-toggle::after {
  color: var(--gwp-orange) !important;
}

/* navigation */
a.nav-link {
  padding: 0 !important;
  text-decoration: none;
  position: relative;
}

a.nav-link-selected {
  padding: 0 !important;
  text-decoration: none !important;
  position: relative;
  color: var(--gwp-orange) !important;
}
a.nav-link:before,
a.nav-link-selected:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--gwp-orange);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a.nav-link:hover:before,
a.nav-link-selected:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

a.navdropdown-link {
  display: block;
  /* font-weight: 480; */
  padding: 0.25rem 0.5rem;
  color: gray !important;
}

a.navdropdown-link-selected {
  padding: 0 !important;
  background-color: var(--gwp-orange) !important;
  text-decoration: none !important;
}

a.navdropdown-link:hover {
  background-color: var(--gwp-orange) !important;
  text-decoration: none !important;
  color: white !important;
}

.nav-btn {
  margin-top: 0.2rem;
  padding: 0 2rem 0.2rem 2rem;
  color: var(--gwp-orange) !important;
  background-color: white;
  border: 2px solid var(--gwp-orange);
  border-radius: 2rem;
}

.nav-btn:hover {
  text-decoration: none !important;
  color: white !important;
  background-color: var(--gwp-orange) !important;
  border: 2px solid var(--gwp-orange);
}

.dropdown-menu {
  border-color: var(--gwp-orange) !important;
  min-width: max-content !important;
}
